<div cdkDropListGroup class="todo">
    <div class="example-container">
      <h2 style="text-align: center;">To do ({{todo.length}})</h2>
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo, let i = index" cdkDrag>
          <div>
            <p>{{item?.title}}</p>
            <p>{{formatDate(item?.date)}}</p>
          </div>
          <div>
            <button mat-icon-button color="primary" (click)="openTaskDetails(item)">
              <mat-icon>view_agenda</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteTask(item)">
              <mat-icon>delete</mat-icon>
            </button> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2 style="text-align: center;">Doing ({{doing.length}})</h2>
      <div
        cdkDropList
        [cdkDropListData]="doing"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of doing, let i = index" cdkDrag>
          <div>
            <p>{{item?.title}}</p>
            <p>{{formatDate(item?.date)}}</p>
          </div>
          <div>
            <button mat-icon-button color="warn" (click)="deleteTask(item)">
              <mat-icon>delete</mat-icon>
            </button> 
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
        <h2 style="text-align: center;">Done ({{done.length}})</h2>
        <div
          cdkDropList
          [cdkDropListData]="done"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done, let i = index" cdkDrag>
            <div>
              <p>{{item?.title}}</p>
              <p>{{formatDate(item?.date)}}</p>
            </div>
            <div>
              <mat-icon class="iconDone">check_circle_outline</mat-icon>
              <button mat-icon-button color="warn" (click)="deleteTask(item)">
                <mat-icon>delete</mat-icon>
              </button> 
            </div>
          </div>
        </div>
      </div>
  </div>
  