<div class="container" fxLayout="column" fxLayoutAlign="none center">
    <form  class="example-form" fxLayout="column"  fxLayoutAlign="space-between none" [formGroup]="formEditTask" (ngSubmit) = "onSave()">
        <div>
            <mat-form-field class="example-full-width"  >
                <mat-label>Title</mat-label>
                <input matInput [value]="data.title" formControlName = "title">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Description</mat-label>
              <input matInput  [value]="data.description" formControlName = "description">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="dp" [value]="data.date" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between end">

            <button mat-raised-button color="primary" type="submit">Save</button>
            
            <button mat-raised-button (click)="closeDetails()">Cancel</button>
        </div>
    </form>
    
</div>
