<div>  
  <app-navbar></app-navbar>
  <button mat-button color="primary" (click)="onShowCalendar()">{{!isShowCalendar ? "Show Calender" : "Show Task List"}}</button>
  <mat-drawer-container class="example-container">

      <mat-drawer mode="side" opened>
        <app-addtodo></app-addtodo>
      </mat-drawer>

      <mat-drawer-content *ngIf="!isShowCalendar , else showCalendar"> 
        <app-todo ></app-todo>
      </mat-drawer-content>

      <ng-template #showCalendar>
        <mat-drawer-content> 
          <app-viewcalendar></app-viewcalendar>
        </mat-drawer-content>
      </ng-template>

  </mat-drawer-container>
</div>
